{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>

.button {
  display: inline-block;
  border-radius: 20px;
  background-color: #65b065;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
  .input {
    margin-top: 15px;

  }

  .home {
    color: rgb(172, 172, 172);
  }

  .btn-file {
    position: relative;
    border: 0;
    outline: 0;
    overflow: hidden;
    background: linear-gradient(rgb(208 240 255), rgb(197 203 255));
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  .upload-btn {
    background: linear-gradient(rgb(112 89 215), rgb(77 96 249));
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 12px 25px;
    border: 0;
    outline: 0;
  }

  .upload-choose-area {
    border-radius: 19px;
    background-color: rgb(255 255 255 / 30%);
    padding: 19px;
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 50px 100px;
  }

  .show-img-res {
    width: 80%;
    margin: 2.5rem auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
  }

  .top-text h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #555;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}

.top-text h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #111;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 40px;
  transition: all 0.5s ease;
}

.top-text h6:hover {
  color: #65b065;
  transition: all 0.5s ease;
}

.top-text h2:hover {
  color: #65b065;
  transition: all 0.5s ease;
}
.top-text h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #555;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}

.top-text h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #111;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
}

.top-text h6::before,
.top-text h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #65b065;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out 0s;
}

.top-text h6:hover::before,
.top-text h2:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.top-text h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #555;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  animation: move-left 2s ease-in-out infinite alternate;
}

.top-text h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #111;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  animation: move-right 2s ease-in-out infinite alternate;
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
.top-text h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #555;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}

.top-text h6:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #65b065;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out 0s;
}

.top-text h6:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.top-text h6 span {
  display: block;
}

.top-text h6 span:first-child {
  animation: move-right 1s ease-in-out infinite alternate;
}

.top-text h6 span:last-child {
  animation: move-left 1s ease-in-out infinite alternate;
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5px);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
</style>

<script>

  document.getElementById('choose-btn').addEventListener('click', function (e) {
    console.log(e.target)
  })


</script>
<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-text header-text">
          <h6><span>Turn your data into insights with our visualization tools & Find Insights in Your Data</span></h6>
          <h2>Upload Your Dataset &amp; Click</h2>
          <a href="{% url 'visualize_page' %}" class="button"><span>Click Here</span></a>
        </div>
      </div>

      <div class="col-lg-10 offset-lg-1">
        <ul class="categories">
          <li><a href="{% url 'confusion_matrix' %}"><span class="icon"><img src="{% static 'assets/images/cm.png' %}" alt="CM"></span>
              Confusion Matrix</a></li>
          <li><a href="{% url 'roc_auc' %}"><span class="icon"><img src="{% static 'assets/images/roc.png' %}" alt="RC"></span>
              Roc &amp; Curve</a></li>
          <li><a href="{% url 'plotting' %}"><span class="icon"><img src="{% static 'assets/images/dataset.png' %}" alt="DATA"></span>
              Dataset Ploting</a></li>
          <li><a href="{% url 'error_analysis' %}"><span class="icon"><img src="{% static 'assets/images/error.png' %}" alt="EA"></span>
              Error Analysis</a></li>
          <li><a href="{% url 'dataset_description' %}"><span class="icon"><img src="{% static 'assets/images/description.png' %}" alt="DD"></span>
              Detaset Description</a></li>
        </ul>
      </div>
      <div class="container mt-3 rounded">
        {% if show_charts %}
        <img class="show-img-res" src="data:image/png;base64,{{ chart_data }}" alt="chart">
        {% endif %}
      </div>
    </div>
  </div>
</div>







<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>







{% endblock content %}